body {
	font-family: sans-serif;
	text-align: center;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	background: #4d88ff;
	padding: 70px;
	}
.class {
	text-decoration: underline;
}
h1 {
	text-decoration: underline #4d88ff;
	}
div {
	background: #e6eeff;
	padding: 40px;
	border-radius: 10px;
	}
p {
	padding-right: 80px;
	padding-left: 80px;
	}
img {
	max-height: 400px;
	border-radius: 10px;
	margin: 0;
	padding: 0;
	}
a:link, a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #4d88ff;
	}

a:hover, a:focus, a:active {
	text-decoration: underline;
	}
nav ul li {
	display: inline-block;
	padding: 10px;
}
section {
	margin-top: 50px;
	border: solid 4px #4d88ff;
	border-radius: 10px;
	padding:25px;
}
section div{
	padding: 0px;
	border: none;
}
#launchcode {
	text-decoration: none;
}
